# Database Configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# RabbitMQ Configuration
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# JWT Configuration
JWT_SECRET=mySecretKeyForJWTTokenGenerationAndValidation12345678901234567890
JWT_EXPIRATION=86400000

# Service Ports
AUTH_SERVICE_PORT=4000
WORD_SERVICE_PORT=4001
TAG_SERVICE_PORT=4002
RELATIONSHIP_SERVICE_PORT=4003

# Database Ports
AUTH_DB_PORT=5435
WORD_DB_PORT=5432
TAG_DB_PORT=5433
RELATIONSHIP_DB_PORT=5434

# RabbitMQ Ports
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
